
<div class="row g-3">
    @*<div class="col-lg-6">
        <label for="txtEx_NitUsuario" class="form-label">Ingrese Nit</label>
        <input type="text" style="width: 100%;" id="txtEx_NitUsuario" name="txtEx_NitUsuario" />
    </div>*@
    @*<div class="col-lg-6">
        <label for="txtEx_CarnetResidente" class="form-label">Carnet de residente</label>
        <input type="text" style="width: 100%;" id="txtEx_CarnetResidente" name="txtEx_CarnetResidente" />
    </div>*@

    <div class="col-lg-4">
        <label for="txtEx_Nombre1" class="form-label">Primer Nombre</label>
        <input type="text" style="width: 100%;" id="txtEx_Nombre1" name="txtEx_Nombre1" />
    </div>
    <div class="col-lg-4">
        <label for="txtEx_Nombre2" class="form-label">Segundo Nombre</label>
        <input type="text" style="width: 100%;" id="txtEx_Nombre2" name="txtEx_Nombre2" />
    </div>

    <div class="col-lg-4">
        <label for="txtEx_Nombre3" class="form-label">Tercer Nombre</label>
        <input type="text" style="width: 100%;" id="txtEx_Nombre3" name="txtEx_Nombre3" />
    </div>

    <div class="col-lg-4">
        <label for="txtEx_Apellido1" class="form-label">Primer Apellido</label>
        <input type="text" style="width: 100%;" id="txtEx_Apellido1" name="txtEx_Apellido1" />
    </div>
    <div class="col-lg-4">
        <label for="txtEx_Apellido2" class="form-label">Segundo Apellido</label>
        <input type="text" style="width: 100%;" id="txtEx_Apellido2" name="txtEx_Apellido2" />
    </div>
    @*<div class="col-lg-4">
        <label for="cmbPe_Genero" class="form-label">Genero</label>
        <input id="cmbPe_Genero" name="cmbPe_Genero" style="width: 100%;" />
    </div>*@
    @*<div class="col-lg-4">
        <label for="cmbPe_EstadoCivil" class="form-label">Estado Civil</label>
        <input type="text" id="cmbPe_EstadoCivil" name="cmbPe_EstadoCivil" style="width: 100%;" />
    </div>*@
    @*<div class="col-lg-4">
        <label for="txtEx_Particula" class="form-label">Particula</label>
        <input type="text" style="width: 100%;" id="txtEx_Particula" name="txtEx_Particula" />
    </div>*@
    <div class="col-lg-4">
        <label for="txtEx_FechaNac" class="form-label">Fecha Nacimiento</label>
        <input type="text" style="width: 100%;" id="txtEx_FechaNac" name="txtEx_FechaNac" />
    </div>
</div>
