
<div class="row g-3">
    <div class="col-lg-4">
        <label for="txtLic_Nombre1" class="form-label">Primer Nombre</label>
        <input type="text" style="width: 100%;" id="txtLic_Nombre1" name="txtLic_Nombre1" />
    </div>
    <div class="col-lg-4">
        <label for="txtLic_Nombre2" class="form-label">Segundo Nombre</label>
        <input type="text" style="width: 100%;" id="txtLic_Nombre2" name="txtLic_Nombre2" />
    </div>

    <div class="col-lg-4">
        <label for="txtLic_Nombre3" class="form-label">Tercer Nombre</label>
        <input type="text" style="width: 100%;" id="txtLic_Nombre3" name="txtLic_Nombre3" />
    </div>

    <div class="col-lg-4">
        <label for="txtLic_Apellido1" class="form-label">Primer Apellido</label>
        <input type="text" style="width: 100%;" id="txtLic_Apellido1" name="txtLic_Apellido1" />
    </div>
    <div class="col-lg-4">
        <label for="txtLic_Apellido2" class="form-label">Segundo Apellido</label>
        <input type="text" style="width: 100%;" id="txtLic_Apellido2" name="txtLic_Apellido2" />
    </div>
    <div class="col-lg-4">
        <label for="txtLic_PartidaNac" class="form-label">Partida de Nacimiento</label>
        <input type="text" style="width: 100%;" id="txtLic_PartidaNac" name="txtLic_Particula" />
    </div>
    <div class="col-lg-4">
        <label for="txtLic_ProfesionOficio" class="form-label">Profesión u Oficio</label>
        <input type="text" style="width: 100%;" id="txtLic_ProfesionOficio" name="txtLic_Particula" />
    </div>
    <div class="col-lg-4">
        <label for="txtLic_FechaNac" class="form-label">Fecha Nacimiento</label>
        <input type="text" style="width: 100%;" id="txtLic_FechaNac" name="txtLic_FechaNac" />
    </div>
</div>
<br>
<div class="row g-3"><strong>DOCUMENTOS DE IDENTIFICACIÓN</strong></div>
<br>
<div class="row g-3">
    <div class="col-lg-4">
        <label for="txtLic_DUI" class="form-label">DUI</label>
        <input type="text" style="width: 100%;" id="txtLic_DUI" name="txtLic_DUI" />
    </div>
    <div class="col-lg-4">
        <label for="txtLic_FechaExpedicion" class="form-label">Fecha Expedición</label>
        <input type="text" style="width: 100%;" id="txtLic_FechaExpedicion" name="txtLic_FechaExpedicion" />
    </div>
    <div class="col-lg-4">
        <label for="txtLic_FechaExpiracion" class="form-label">Fecha Expiración</label>
        <input type="text" style="width: 100%;" id="txtLic_FechaExpiracion" name="txtLic_FechaExpiracion" />
    </div>
    <div class="col-lg-4">
        <label for="txtLic_Nit" class="form-label">NIT</label>
        <input type="text" style="width: 100%;" id="txtLic_Nit" name="txtLic_Nit" />
    </div>
</div>
<br>
<div class="row g-3"><strong>DOMICILIO</strong></div>
<br>
<div class="row g-3">
    <div class="col-lg-4">
        <label for="txtLic_Direccion" class="form-label">Direccion</label>
        <input type="text" style="width: 100%;" id="txtLic_Direccion" name="txtLic_Direccion" />
    </div>
    <div class="col-lg-4">
        <label for="txtLic_NumCasa" class="form-label">N° Casa o Lote</label>
        <input type="text" style="width: 100%;" id="txtLic_NumCasa" name="txtLic_NumCasa" />
    </div>
    <div class="col-lg-4">
        <label for="cmbLic_Pais" class="form-label">Pais</label>
        <input type="text" style="width: 100%;" id="cmbLic_Pais" name="cmbLic_Pais" />
    </div>
    <div class="col-lg-4">
        <label for="cmbLic_Depto" class="form-label">Departamento</label>
        <input type="text" style="width: 100%;" id="cmbLic_Depto" name="cmbLic_Depto" />
    </div>
    <div class="col-lg-4">
        <label for="cmbLic_Municipio" class="form-label">Municipio</label>
        <input type="text" style="width: 100%;" id="cmbLic_Municipio" name="cmbLic_Municipio" />
    </div>
    <div class="col-lg-4">
        <label for="cmbLic_canton" class="form-label">Canton</label>
        <input type="text" style="width: 100%;" id="cmbLic_canton" name="cmbLic_canton" />
    </div>

    
</div>


