
<div class="row g-3">
    <div class="col-lg-4">
        <label for="txtMat_Nombre1" class="form-label">Primer Nombre</label>
        <input type="text" style="width: 100%;" id="txtMat_Nombre1" name="txtMat_Nombre1" />
    </div>
    <div class="col-lg-4">
        <label for="txtMat_Nombre2" class="form-label">Segundo Nombre</label>
        <input type="text" style="width: 100%;" id="txtMat_Nombre2" name="txtMat_Nombre2" />
    </div>

    <div class="col-lg-4">
        <label for="txtMat_Nombre3" class="form-label">Tercer Nombre</label>
        <input type="text" style="width: 100%;" id="txtMat_Nombre3" name="txtMat_Nombre3" />
    </div>

    <div class="col-lg-4">
        <label for="txtMat_Apellido1" class="form-label">Primer Apellido</label>
        <input type="text" style="width: 100%;" id="txtMat_Apellido1" name="txtMat_Apellido1" />
    </div>
    <div class="col-lg-4">
        <label for="txtMat_Apellido2" class="form-label">Segundo Apellido</label>
        <input type="text" style="width: 100%;" id="txtMat_Apellido2" name="txtMat_Apellido2" />
    </div>
    <div class="col-lg-4">
        <label for="txtMat_PartidaNac" class="form-label">Partida de Nacimiento</label>
        <input type="text" style="width: 100%;" id="txtMat_PartidaNac" name="txtMat_Particula" />
    </div>
    <div class="col-lg-4">
        <label for="txtMat_ProfesionOficio" class="form-label">Profesión u Oficio</label>
        <input type="text" style="width: 100%;" id="txtMat_ProfesionOficio" name="txtMat_Particula" />
    </div>
    <div class="col-lg-4">
        <label for="txtMat_FechaNac" class="form-label">Fecha Nacimiento</label>
        <input type="text" style="width: 100%;" id="txtMat_FechaNac" name="txtMat_FechaNac" />
    </div>
</div>
<br>
<div class="row g-3"><strong>DOCUMENTOS DE IDENTIFICACIÓN</strong></div>
<br>
<div class="row g-3">
    <div class="col-lg-4">
        <label for="txtMat_DUI" class="form-label">DUI</label>
        <input type="text" style="width: 100%;" id="txtMat_DUI" name="txtMat_DUI" />
    </div>
    <div class="col-lg-4">
        <label for="txtMat_FechaExpedicion" class="form-label">Fecha Expedición</label>
        <input type="text" style="width: 100%;" id="txtMat_FechaExpedicion" name="txtMat_FechaExpedicion" />
    </div>
    <div class="col-lg-4">
        <label for="txtMat_FechaExpiracion" class="form-label">Fecha Expiración</label>
        <input type="text" style="width: 100%;" id="txtMat_FechaExpiracion" name="txtMat_FechaExpiracion" />
    </div>
    <div class="col-lg-4">
        <label for="txtMat_Nit" class="form-label">NIT</label>
        <input type="text" style="width: 100%;" id="txtMat_Nit" name="txtMat_Nit" />
    </div>
</div>
<br>
<div class="row g-3"><strong>DOMICILIO</strong></div>
<br>
<div class="row g-3">
    <div class="col-lg-4">
        <label for="txtMat_Direccion" class="form-label">Direccion</label>
        <input type="text" style="width: 100%;" id="txtMat_Direccion" name="txtMat_Direccion" />
    </div>
    <div class="col-lg-4">
        <label for="txtMat_NumCasa" class="form-label">N° Casa o Lote</label>
        <input type="text" style="width: 100%;" id="txtMat_NumCasa" name="txtMat_NumCasa" />
    </div>
    <div class="col-lg-4">
        <label for="cmbMat_Pais" class="form-label">Pais</label>
        <input type="text" style="width: 100%;" id="cmbMat_Pais" name="cmbMat_Pais" />
    </div>
    <div class="col-lg-4">
        <label for="cmbMat_Depto" class="form-label">Departamento</label>
        <input type="text" style="width: 100%;" id="cmbMat_Depto" name="cmbMat_Depto" />
    </div>
    <div class="col-lg-4">
        <label for="cmbMat_Municipio" class="form-label">Municipio</label>
        <input type="text" style="width: 100%;" id="cmbMat_Municipio" name="cmbMat_Municipio" />
    </div>
    <div class="col-lg-4">
        <label for="cmbMat_canton" class="form-label">Canton</label>
        <input type="text" style="width: 100%;" id="cmbMat_canton" name="cmbMat_canton" />
    </div>


</div>


