<form  id="frmCambioEstado" enctype="multipart/form-data">
    <div class="row g-3">
        <div class="col-lg-12">
            <label for="cmbEstados" class="form-label">Estado siguiente</label>
            <input id="cmbEstados" name="cmbEstados" style="width: 100%;" />

        </div>
        <div class="col-lg-12">
            <label for="txtMotivoCambio">Motivo:</label>
            <textarea id="txtMotivoCambio" name="txtMotivoCambio" type="text" rows="4" required validationMessage="Requerido" style="margin-top: 0px; margin-bottom: 0px; height: 100%; width: 100%; " />
        </div>
        
    </div>
</form>