
<div class="row g-3">
    <div class="col-lg-6">
        <label for="txtIns_NitUsuario" class="form-label" >Ingrese Nit</label>
        <input type="text" style="width: 100%;" id="txtIns_NitUsuario" name="txtIns_NitUsuario" />
    </div>
    <div class="col-lg-6">
        <label for="txtIns_RazonSocial" class="form-label" >Razon Social</label>
        <input type="text" style="width: 100%;" id="txtIns_RazonSocial" name="txtIns_RazonSocial" />
    </div>

    <div class="col-lg-6">
        <label for="txtIns_NombreInstitucion" class="form-label" >Nombre de la Institucion</label>
        <input type="text" style="width: 100%;" id="txtIns_NombreInstitucion" name="txtIns_NombreInstitucion" />
    </div>

</div>
