
<div class="row g-3">
    <div class="col-lg-6">
        <label for="txtPJ_NitUsuario" class="form-label" >Ingrese Nit</label>
        <input type="text" style="width: 100%;" id="txtPJ_NitUsuario" name="txtPJ_NitUsuario" />
    </div>
    <div class="col-lg-6">
        <label for="txtPJ_RazonSocial" class="form-label" >Razon Social</label>
        <input type="text" style="width: 100%;" id="txtPJ_RazonSocial" name="txtPJ_RazonSocial" />
    </div>

    <div class="col-lg-6">
        <label for="txtPJ_NombreEmpresa" class="form-label" >Nombre de la Empresa </label>
        <input type="text" style="width: 100%;" id="txtPJ_NombreEmpresa" name="txtPJ_NombreEmpresa" />
    </div>
    
</div>
