
<div class="row g-3">

    <div class="col-lg-4">
        <label for="txtPn_DUI" class="form-label">DUI</label>
        <input type="text" style="width: 100%;" id="txtPn_DUI" name="txtPn_DUI" />
    </div>
    <div class="col-lg-4"></div>
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
        <label for="txtPn_Nombre1" class="form-label">Primer Nombre</label>
        <input type="text" style="width: 100%;" id="txtPn_Nombre1" name="txtPn_Nombre1" />
    </div>
    <div class="col-lg-4">
        <label for="txtPn_Nombre2" class="form-label">Segundo Nombre</label>
        <input type="text" style="width: 100%;" id="txtPn_Nombre2" name="txtPn_Nombre2" />
    </div>

    <div class="col-lg-4">
        <label for="txtPn_Nombre3" class="form-label">Tercer Nombre</label>
        <input type="text" style="width: 100%;" id="txtPn_Nombre3" name="txtPn_Nombre3" />
    </div>

    <div class="col-lg-4">
        <label for="txtPn_Apellido1" class="form-label">Primer Apellido</label>
        <input type="text" style="width: 100%;" id="txtPn_Apellido1" name="txtPn_Apellido1" />
    </div>
    <div class="col-lg-4">
        <label for="txtPn_Apellido2" class="form-label">Segundo Apellido</label>
        <input type="text" style="width: 100%;" id="txtPn_Apellido2" name="txtPn_Apellido2" />
    </div>
    <div class="col-lg-4">
        <label for="cmbPn_Genero" class="form-label">Genero</label>
        <input id="cmbPn_Genero" name="cmbPn_Genero" style="width: 100%;" />
    </div>
    <div class="col-lg-4">
        <label for="cmbPn_EstadoCivil" class="form-label">Estado Civil</label>
        <input type="text" id="cmbPn_EstadoCivil" name="cmbPn_EstadoCivil" style="width: 100%;" />
    </div>
    <div class="col-lg-4">
        <label for="txtPn_Particula" class="form-label">Particula</label>
        <input type="text" style="width: 100%;" id="txtPn_Particula" name="txtPn_Particula" />
    </div>
    <div class="col-lg-4">
        <label for="txtPn_FechaNac" class="form-label">Fecha Nacimiento</label>
        <input type="text" style="width: 100%;" id="txtPn_FechaNac" name="txtPn_FechaNac" />
    </div>
    <div class="col-lg-4">
        <label for="cmbSNInstitucion" class="form-label">Pertenece a (PNC/FAES/ANSP)</label>
        <input id="cmbSNInstitucion" name="cmbSNInstitucion" />
    </div>

</div>
