
<div class="row g-3">
    <div class="col-lg-6">
        <label for="txtPe_NitUsuario" class="form-label">Ingrese Nit</label>
        <input type="text" style="width: 100%;" id="txtPe_NitUsuario" name="txtPe_NitUsuario" />
    </div>
    <div class="col-lg-6">
        <label for="txtPe_CarnetResidente" class="form-label">Carnet de residente</label>
        <input type="text" style="width: 100%;" id="txtPe_CarnetResidente" name="txtPe_CarnetResidente" />
    </div>

    <div class="col-lg-4">
        <label for="txtPe_Nombre1" class="form-label">Primer Nombre</label>
        <input type="text" style="width: 100%;" id="txtPe_Nombre1" name="txtPe_Nombre1" />
    </div>
    <div class="col-lg-4">
        <label for="txtPe_Nombre2" class="form-label">Segundo Nombre</label>
        <input type="text" style="width: 100%;" id="txtPe_Nombre2" name="txtPe_Nombre2" />
    </div>

    <div class="col-lg-4">
        <label for="txtPe_Nombre3" class="form-label">Tercer Nombre</label>
        <input type="text" style="width: 100%;" id="txtPe_Nombre3" name="txtPe_Nombre3" />
    </div>

    <div class="col-lg-4">
        <label for="txtPe_Apellido1" class="form-label">Primer Apellido</label>
        <input type="text" style="width: 100%;" id="txtPe_Apellido1" name="txtPe_Apellido1" />
    </div>
    <div class="col-lg-4">
        <label for="txtPe_Apellido2" class="form-label">Segundo Apellido</label>
        <input type="text" style="width: 100%;" id="txtPe_Apellido2" name="txtPe_Apellido2" />
    </div>
    <div class="col-lg-4">
        <label for="cmbPe_Genero" class="form-label">Genero</label>
        <input id="cmbPe_Genero" name="cmbPe_Genero" style="width: 100%;" />
    </div>
    <div class="col-lg-4">
        <label for="cmbPe_EstadoCivil" class="form-label">Estado Civil</label>
        <input type="text" id="cmbPe_EstadoCivil" name="cmbPe_EstadoCivil" style="width: 100%;" />
    </div>
    <div class="col-lg-4">
        <label for="txtPe_Particula" class="form-label">Particula</label>
        <input type="text" style="width: 100%;" id="txtPe_Particula" name="txtPe_Particula" />
    </div>
    <div class="col-lg-4">
        <label for="txtPe_FechaNac" class="form-label">Fecha Nacimiento</label>
        <input type="text" style="width: 100%;" id="txtPe_FechaNac" name="txtPe_FechaNac" />
    </div>
</div>
