<div class="row g-3" id="step2" style="display:none;">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <div class="row g-3">
            <div class="alert alert-success" role="alert">
                <h4 class="alert-heading">Pregutas de seguridad!</h4>
                <p>Selecciona una pregunta de seguridad. esta pregunta nos ayudara a verificar tu identidad si olvidas tu contraseña</p>
                <hr>
                <p class="mb-0">Elige una que resulte facil de recordar.</p>
            </div>
        </div>
        <div class="row g-3" id="listQuestion"></div>
    </div>
    <div class="col-lg-2"></div>


    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <div class="row g-3">
            <div class="col-lg-6">
                <button id="btnStep2Prev" type="button">Volver</button>
            </div>
            <div class="col-lg-6 k-rtl">
                <button id="btnStep2Next" type="button">Continuar</button>
            </div>
        </div>
    </div>
    <div class="col-lg-2"></div>


</div>
    


