@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link href="~/css/StyleMP.css" rel="stylesheet" />
<div class="col-lg-12">
    <div class="card_Mdf">
        <div class="row g-3">
            <div class="page-inner">
                <div class="row justify-content-center">
                    <div class="col-12 col-lg-10 col-xl-9">
                        <div class="row align-items-center">
                            <div class="col">
                                <h6 class="page-pretitle">
                                    Mandamiento de Pago
                                </h6>
                                <h4 class="page-title">No #0000012</h4>
                            </div>
                            <div class="col-auto">
                                <a href="#" class="btn btn-light btn-border">
                                    Descargar
                                </a>
                                <a href="#" class="btn btn-primary ml-2">
                                    Imprimir
                                </a>
                            </div>
                        </div>
                        <div class="page-divider"></div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card card-invoice">
                                    <div class="card-header">
                                        <div class="invoice-header">
                                            <h3 class="invoice-title">
                                                Mandamiento de Pago
                                            </h3>
                                            <div class="invoice-logo">
                                                @*<img src="" alt="company logo">*@
                                                <img src="~/Images/MicrosoftTeams-image.png"  width="20%" height="20%"  />
                                            </div>
                                        </div>
                                        <div class="invoice-desc">
                                            Estado Mayor, Alameda Manuel Enrique Araujo,<br /> San Salvador
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="separator-solid"></div>
                                        <div class="row">
                                            <div class="col-md-4 info-invoice">
                                                <h5 class="sub">Fecha</h5>
                                                <p>03/12/2021 03:00 pm</p>
                                            </div>
                                            <div class="col-md-4 info-invoice">
                                                <h5 class="sub">No:</h5>
                                                <p>#0000012</p>
                                            </div>
                                            <div class="col-md-4 info-invoice">
                                                <h5 class="sub">Facturar a</h5>
                                                <p>
                                                    William Lopez, Residencial Los Almendros<br>Pol #2, casa #199
                                                </p>
                                                <p>
                                                    No DUI:00253609-8
                                                </p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="invoice-detail">
                                                    <div class="invoice-top">
                                                        <h3 class="title"><strong>Resumen de Servicios</strong></h3>
                                                    </div>
                                                    <div class="invoice-item">
                                                        <div class="table-responsive">
                                                            <table class="table table-striped">
                                                                <thead>
                                                                    <tr>
                                                                        <td><strong>Servicios</strong></td>
                                                                        <td class="text-center"><strong>Cantidad</strong></td>
                                                                        <td class="text-center"><strong>Precio</strong></td>
                                                                        <td class="text-right"><strong>Total</strong></td>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>
                                                                        <td>Portación de arma de fuego</td>
                                                                        <td class="text-center">$10.00</td>
                                                                        <td class="text-center">1</td>
                                                                        <td class="text-right">$10.00</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>Primera vez</td>
                                                                        <td class="text-center">$10.00</td>
                                                                        <td class="text-center">1</td>
                                                                        <td class="text-right">$10.00</td>
                                                                    </tr>
                                                                  
                                                                    <tr>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td class="text-center"><strong>Subtotal</strong></td>
                                                                        <td class="text-right">$20.00</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td class="text-center"><strong>Iva</strong></td>
                                                                        <td class="text-right">$0</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td class="text-center"><strong>Total</strong></td>
                                                                        <td class="text-right">$20.00</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="separator-solid  mb-3"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <div class="row">
                                            <div class="col-sm-7 col-md-5 mb-3 mb-md-0 transfer-to">
                                                <h5 class="sub">Transferencia bancaria</h5>
                                                <div class="account-transfer">
                                                    <div><span>Nombre de la cuenta:</span><span>Ministerio de defensa</span></div>
                                                    <div><span>Número de cuenta:</span><span>1234567890934</span></div>
                                                    <div><span>Código:</span><span>BARC0032UK</span></div>
                                                </div>
                                            </div>
                                            <div class="col-sm-5 col-md-7 transfer-total">
                                                <h5 class="sub">Cantidad total</h5>
                                                <div class="price">$20.00</div>
                                                <span>Iva Incluido</span>
                                            </div>
                                        </div>
                                        <div class="separator-solid"></div>
                                        <h6 class="text-uppercase mt-4 mb-3 fw-bold">
                                            Notas
                                        </h6>
                                        <p class="text-muted mb-0">
                                            si hay algo más que podamos hacer, ¡háganoslo saber! Además, si necesita que agreguemos el IVA o cualquier otra cosa a este pedido, es muy fácil ya que se trata de una plantilla, ¡así que pregunte!
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


